*{
    scroll-behavior: smooth;
}

.app{
    min-height: 100vh;
    background-color: rgb(163, 202, 202);
    color: white;
    padding-top: 140px;
    padding-bottom: 80px;
}

.displayTitle{
    font-size: 2vw;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    margin-top: 0px;
    padding-top: 0px;
    color: white;
}